.cart_none {
  text-align: center;
  margin: 100px 165px;
  display: none;
}
.cart_none p {
  color: #d38566;
  margin-bottom: 50px;
}
.cart_none a {
  text-decoration: none;
  color: #fff;
  background-color: #d38566;
  padding: 10px;
  font-weight: 600;
}
.cart_none a:hover {
  opacity: 0.8;
}
.cart_content {
  margin: 0 165px;
}
.product_amount input {
  width: 40px;
  text-align: center;
}
.product_amount button {
  cursor: pointer;
  outline: none;
  border: none;
}
.product_amount button:hover {
  background-color: #cccccc;
}

.cart_table tbody td img {
  width: 80px;
  height: 80px;
}
.cart_table tbody td img,
p {
  float: left;
}
.cart_table tbody td p {
  display: flex;
  align-items: center;
}
