.product_amount input {
  width: 40px;
  text-align: center;
}
.product_amount button {
  cursor: pointer;
  outline: none;
  border: none;
}
.product_amount button:hover {
  background-color: #cccccc;
}
.product_img,
.product_name {
  display: flex;
}
