.border {
  border-top: #d38566 solid 5px;
  width: 100%;
  margin: 15px 0;
}
.product_amount input {
  width: 40px;
  text-align: center;
}
.product_amount button {
  cursor: pointer;
  outline: none;
  border: none;
}
.product_amount button:hover {
  background-color: #cccccc;
}
.content {
  display: block;
  margin: 0 165px;
  padding: 20px 0;
}
.product {
  display: flex;
}
.product,
.product_form {
  margin-left: 30px;
}
.product_name {
  color: #d38566;
  font-weight: 700;
  position: relative;
}
.product_price {
  font-weight: 700;
  color: #000;
  font-size: 25px;
}
.margin15 {
  margin: 35px 0;
}
.product_color {
  display: flex;
}
.product_color p {
  width: 30%;
  font-weight: 700;
  font-size: 20px;
}
.color_more {
  width: 70%;
  text-align: center;
  border: #d38566 solid 2px;
  outline: none;
  color: #d38566;
}
.product_amount {
  text-align: center;
}
.btn_them {
  background-color: #d38566;
  color: aliceblue;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}
.btn_them:hover {
  opacity: 0.8;
}
.description {
  margin: 0 165px;
}
.description_info {
  color: #d38566;
  line-height: 2;
}
a {
  text-decoration: none;
}
#product {
  margin: 0 165px;
}
#title {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#title h2 {
  border-top: #d38566 solid 2px;
  width: 100%;
}
#title p {
  width: 480px;
  text-align: center;
  color: #4c6e2b;
  font-size: 22px;
  font-weight: 700;
}
.product-list {
  /* display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-top {
  position: relative;
  overflow: hidden;
}

.product-top a {
  text-decoration: none;
}
.buynow {
  text-align: center;
  display: block;
  background-color: #d38566;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
  bottom: -39px;
  opacity: 0.9;
}
.product-list li:hover .buynow {
  bottom: 0px;
}
.product-list li {
  flex-basis: 25%;
  /* padding: 0 5px; */
  box-sizing: border-box;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  flex: 1;
}
.product-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.product-list li img {
  max-width: 100%;
  height: auto;
}

.product-info {
  padding: 8.5px 10px 17px;
  text-align: center;
  /* margin: 8px; */
  display: flex;
  flex-direction: column;
  flex: 1;
}
.product-info div {
  margin-top: auto;
}
.product-info a {
  text-decoration: none;
  font-size: 13px;
  color: #d38566;
  display: block;
}
.img-fist {
  position: relative;
}
/* .product-thumb {
  } */
.product-thumb img {
  display: block;
}
.product-thumb .img-after {
  position: absolute;
  top: 0;
  transition: 0.2s all linear;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}
.product-list li:hover .img-after {
  opacity: 1;
  visibility: visible;
  /* display: block; */
}

.product-info p {
  background-color: #d38566;
  color: #fff;
  display: inline-block;
  padding: 8px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 700;
}

.product-name {
  font-weight: 700;
  /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all; */
}

.product-more {
  border: #d38566 solid 2px;
  display: inline-block !important;
  padding: 5px;
  width: auto;
  margin: 0;
  font-weight: 700 !important;
  font-size: 13px;
}
.product-all {
  text-align: center;
}
.product-all a {
  text-decoration: none;
  display: inline-block;
  background-color: #d38566;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 13px;
}
.product-all a:hover {
  opacity: 0.7;
}
.product-more:hover {
  background-color: #d38566;
  color: #fff;
  transition: all 0.2s linear;
}
