.border {
  border-top: #d38566 solid 5px;
  width: 100%;
  margin: 15px 0;
}
.product_amount input {
  width: 40px;
  text-align: center;
}
.product_amount button {
  cursor: pointer;
  outline: none;
  border: none;
}
.product_amount button:hover {
  background-color: #cccccc;
}
.content {
  display: block;
  margin: 0 165px;
  padding: 20px 0;
}
.product {
  display: flex;
}
.product,
.product_form {
  margin-left: 30px;
}
.product_name {
  color: #d38566;
  font-weight: 700;
  position: relative;
}
.product_price {
  font-weight: 700;
  color: #000;
  font-size: 25px;
}
.margin15 {
  margin: 35px 0;
}
.product_color {
  display: flex;
}
.product_color p {
  width: 30%;
  font-weight: 700;
  font-size: 20px;
}
.color_more {
  width: 70%;
  text-align: center;
  border: #d38566 solid 2px;
  outline: none;
  color: #d38566;
}
.product_amount {
  text-align: center;
}
.btn_them {
  background-color: #d38566;
  color: aliceblue;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}
.btn_them:hover {
  opacity: 0.8;
}
.description {
  margin: 0 165px;
}
.description_info {
  color: #d38566;
  line-height: 2;
}
a {
  text-decoration: none;
}
.back_product a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border: #d38566 solid 1px;
  color: #d38566;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.back_product a:hover {
  background-color: #d38566;
  color: #fff;
}
.back_product a i {
  margin-right: 10px;
  text-align: center;
}
